<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        #footer {
            position: relative;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color:silver;
            color: black;
            text-align: center;
            height:10%;
        }
        .fa {
            padding: 15px;
            font-size: 30px;
            width: 58px;
            height: 60px;
            text-align: center;
            text-decoration: none;
            margin: 5px 2px;
        }
        .fa:hover {
            opacity: 0.7;
        }

        .fa-facebook {
            background: #3B5998;
            color: white;
        }

        .wrap {
            position: relative;
            margin: 0 auto;
            padding: 20px;
            overflow: hidden;
            background: #3E3E3E;
            color: #fff;
            font: 900 14px/26px 'Open Sans', sans-serif;
            text-transform: uppercase;
        }

        #footer h3 a,
        #footer h3 p {
            margin: 0;
            color: #fff;
            text-decoration: none;
        }

        .left {
            float: left;
            width: 25%;
        }

        .right {
            float: right;
            width: 25%;
        }

        .centered {
            overflow: hidden; /* claim the left over width between these 25% floats */
        }
        .fa-twitter {
            background: #55ACEE;
            color: white;
        }
        body {
            padding: 0;
            margin: 0;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/Home/Home">Surgery On Sunday Louisville</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        About Us
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/Home/About">Staff</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/Home/About">Our Stories</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/Home/About">Board Of Directors</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/Home/About">Patient Testimonials    </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Language
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item">
                            <!--Enables Google Translate Functionality-->
                            <div id="google_translate_element"></div>
                            <script type="text/javascript">
                                function googleTranslateElementInit() {
                                    new google.translate.TranslateElement({
                                        pageLanguage: 'en',
                                        includedLanguages: 'en,es', layout: google.translate.TranslateElement.InlineLayout.SIMPLE
                                    }, 'google_translate_element');
                                }
                            </script>
                            <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Get Involved
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/VolunteersForm/GetPhysicianForm">Physician Volunteer Form</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/VolunteersForm/GetNonPhysicianForm">Non-Physician Clinical Volunteer Application</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/VolunteersForm/GetNonClinicForm">General (Non-Clinical and Student) Volunteer Form</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/VolunteersForm/GetInterpreterForm">Medical Interpreter Volunteer Form</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/VolunteersForm/GetVolunteerCommentForm">Volunteer Comment Form</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ReferAPatient/ReferAPatient">Refer A Patient</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Get Help
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/PartnerClinic/GetPartnerCLinic">Partner Clinics</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/About">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://soslouisville.kindful.com/">Donate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/StaffAccess/GetLoginScreen">Staff Access</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <footer id="footer">
        <div class="wrap">
            <div class="centered">
                <p>
                    Contact Us:<br />

                </p>
            </div>
            <div class="right">
                <p>Follow us on social media:</p>
                <a href="https://www.facebook.com/SurgeryonSundayLouisville" class="fa fa-facebook"></a>
                <a href="https://twitter.com/soslouisville" class="fa fa-twitter"></a><br/>
                <img src="~/Content/images/surgery-on-sunday-louisville-heartbeat_Croped.png" alt="Sample Photo" height="150" width="200" border="0"/>

            </div>
            <div class="left">
                <p>
                    Get Involved:<br />
                    <a href="/VolunteersForm/GetPhysicianForm">Physician Volunteer Form</a><br />
                    <a href="/VolunteersForm/GetNonPhysicianForm">Non-Physician Clinical Volunteer Application</a><br />
                    <a href="/VolunteersForm/GetNonClinicForm">General (Non-Clinical and Student) Volunteer Form</a><br />
                    <a href="/VolunteersForm/GetInterpreterForm">Medical Interpreter Volunteer Form</a><br />
                    <a href="/VolunteersForm/GetVolunteerCommentForm">Volunteer Comment Form</a><br />
                </p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
