<!DOCTYPE html>
<html>
<head>
    <title>SOS Louisville</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/Site.css" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<style>
    nav{
        z-index:10;
    }

</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/Home/Home"><img src="~/Content/images/SOS Tranparent Small.png"  /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        About Us
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/AboutUs/staff">Staff</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/AboutUs/aboutUs">About Us</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/AboutUs/board">Board Of Directors</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/AboutUs/testimonials">Patient Testimonials    </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Language
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item">
                            <!--Enables Google Translate Functionality-->
                            <div id="google_translate_element"></div>
                            <script type="text/javascript">
                                function googleTranslateElementInit() {
                                    new google.translate.TranslateElement({
                                        pageLanguage: 'en',
                                        includedLanguages: 'en,es', layout: google.translate.TranslateElement.InlineLayout.SIMPLE
                                    }, 'google_translate_element');
                                }
                            </script>
                            <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Get Involved
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/PhysicianVolunteerView/Create">Physician Volunteer Form</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/ClinicalVolunteer/Create">Non-Physician Clinical Volunteer Application</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/GeneralVolunteerView/Create">General (Non-Clinical and Student) Volunteer Form</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/InterpreterVolunteer/Create">Medical Interpreter Volunteer Form</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/VolunteersForm/GetVolunteerCommentForm">Volunteer Comment Form</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ReferAPatient/ReferAPatient">Refer A Patient</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Get Help
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/PartnerClinic/GetPartnerCLinic">Partner Clinics</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Events/GetCalendar">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://soslouisville.kindful.com/">Donate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/StaffAccess/GetLoginScreen">Staff Access</a>
                </li>
            </ul>
           <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <footer id="footer">
        <div class="wrap-row">
<p class="left">
    Get Involved:<br /><br/>
                    <a href="/VolunteersForm/GetPhysicianForm">Physician Volunteer Form</a><br />
                    <a href="/VolunteersForm/GetNonPhysicianForm">Non-Physician Clinical Volunteer Application</a><br />
                    <a href="/VolunteersForm/GetNonClinicForm">General Volunteer Form</a><br />
                    <a href="/VolunteersForm/GetInterpreterForm">Medical Interpreter Volunteer Form</a><br />
                    <a href="/VolunteersForm/GetVolunteerCommentForm">Volunteer Comment Form</a><br />
                </p>
            <p class="right">
    Follow us on social media:<br /><br />
    <a href="https://www.facebook.com/SurgeryonSundayLouisville" class="fa fa-facebook"></a>
    <a href="https://twitter.com/soslouisville" class="fa fa-twitter"></a><br/>
    <img src="~/Content/images/surgery-on-sunday-louisville-heartbeat_Croped.png" alt="Sample Photo" height="150" width="200" border="0" />
</p>
            <div class="button-wrapper">
                <p>
                    Contact Us:<br /><br />
                    PO Box 4757<br />
                    Louisville, KY 40204<br />
                    502-242-2089<br />
                    info@soslouisville.org<br /><br/>
                    Please Donate<br /><br /></p>
                    <a href="https://soslouisville.kindful.com/">
                        <button type="button" class="btn btn-primary">Donate</button>
                    </a>

                
                </div>
        </div>
    </footer>
        

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
